<div class="page page-login wbg">


  <div class="box-central">
    <span class="titulo-form">LOGUE-SE</span>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="login" placeholder="Login:">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" ng-model="senha" placeholder="Senha:" maxlength="12">
      </div>

      <button type="button" class="btn bt-acessar" ng-click="entrar()">Entrar</button>
    </form>

    <p class="sublink2">
      Se ainda não for cadastrado, contate o seu supervidor.
    </p>


  </div>

</div>
